defaults:
  - _self_
  - logging: wandb
  - inference: ensemble_geodesics
  - override hydra/hydra_logging: colorlog
  - override hydra/job_logging: colorlog

general:
  run_name: GEODESICS_MNIST
  logs_folder_name: logs
  model_checkpoints_path: ./geodesics/${general.project_name}/${general.run_name}/
  workspace: dmiai-mh
  project_name: ens_vae_geodesics
  log_code: False
  save_best: True

hydra:
  run:
    dir: outputs/${now:%Y-%m-%d_%H-%M-%S}
  sweep:
    dir: outputs/${now:%Y-%m-%d_%H-%M-%S}
